* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(U.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}
nav li {
    height: 50px;
}

nav li a {
    height: 100%;
    padding: 0 30px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    backdrop-filter: blur(10px);
    width: 250px;
    z-index: 999;
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar li a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 564px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
